.branding{
	margin:0 auto;
	background: #eeeeee;
	border: 1px solid;
	padding:5px;
}
.branding span{
	display: inline-block;
}
.detroit_logo{
	max-width: 165px;
}
.custom_checkbox {
    width: 100%;
    height: 95px;
    border: 1px dashed;
    margin: 5px auto;
}
.checklist{
	padding-top:0px;
	height: 655px;
	overflow-y: scroll;
}
body{
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
}
input{
	display: none;
}
.active{
	background: red;
}